/*
Media queries

col-p-*  > phone
col-t-*  > tablet
col-m-*  > monitor
col-tv-* > TV

*/

@media (min-width: 320px){
	[class*="col-"]{
		width: 100%;
	}

	h1{
		padding: 0;
		margin: 0;
	}
	img{
		width: 100%;
		height: auto;
	}

	.border-bottom{
		border-bottom-width: 1px;
		border-bottom-style: dashed;
		border-bottom-color: #F0F0F0;		
	}
	.border-right{
		border-right-width: 1px;
		border-right-style: dashed;
		border-right-color: #F0F0F0;		
	}
	#menu {
    	float: left;
    	padding-top: 0px;
	}

	#menu ul li{
    	display: block;
    	float: left;
    	padding-top: 0px;
    	width: 50%;
    	
	}

	nav{
		display: none;
	}
	.menu{
		display: block;
		width: 100%;
	}

	.menu .btn{
		display: block;
		font-size: 18px;
		color: white;
		text-decoration: none;
		font-weight: bold;
		background-color: #999;
		padding: 6px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}
	
	.menu span{
		float: right;
		font-size: 30px;
	}

	.border-right{
    	border: none;
	}

	.border-bottom{
		border-bottom-width: 1px;
		border-bottom-style: dashed;
		border-bottom-color: #F0F0F0;
	}

	.col-p-1{ width: 8.333%; }
	.col-p-2{ width: 16.666%; }
	.col-p-3{ width: 24.999%; }
	.col-p-4{ width: 33.332%; }
	.col-p-5{ width: 41.665%; }
	.col-p-6{ width: 49.998%; }
	.col-p-7{ width: 58.331%; }
	.col-p-8{ width: 66.664%; }
	.col-p-9{ width: 74.997%; }
	.col-p-10{ width: 83.330%; }
	.col-p-11{ width: 91.663%; }
	.col-p-12{ width: 99.996%; }	
}

@media (min-width: 555px){
	.col-t-1{ width: 8.333%; }
	.col-t-2{ width: 16.666%; }
	.col-t-3{ width: 24.999%; }
	.col-t-4{ width: 33.332%; }
	.col-t-5{ width: 41.665%; }
	.col-t-6{ width: 49.998%; }
	.col-t-7{ width: 58.331%; }
	.col-t-8{ width: 66.664%; }
	.col-t-9{ width: 74.997%; }
	.col-t-10{ width: 83.330%; }
	.col-t-11{ width: 91.663%; }
	.col-t-12{ width: 99.996%; }

	.border-right:nth-child(2n+0) {
    	border-right-width: 1px;
		border-right-style: dashed;
		border-right-color: #F0F0F0;
	}

}

@media (min-width: 768px){

	img{
		width: 100%;
		height: auto;
		margin-right: 20px;
	}

	.services{
		min-height: 242px;
	}

	#menu {
    	float: right;
    	padding-top: 10px;
    	background-color: white;
	}

	#menu ul li{
    	width: 25%;
	}
	
	nav{
		display: block !important;
	}
	.menu{
		display: none;
	}

	#menu li a, #menu li a:link,  #menu li a:visited{
		color: #666;
	}
	#menu li a:hover{
		color: #333;
	}
}

@media (min-width: 800px){
	.col-m-1{ width: 8.333%; }
	.col-m-2{ width: 16.666%; }
	.col-m-3{ width: 24.999%; }
	.col-m-4{ width: 33.332%; }
	.col-m-5{ width: 41.665%; }
	.col-m-6{ width: 49.998%; }
	.col-m-7{ width: 58.331%; }
	.col-m-8{ width: 66.664%; }
	.col-m-9{ width: 74.997%; }
	.col-m-10{ width: 83.330%; }
	.col-m-11{ width: 91.663%; }
	.col-m-12{ width: 99.996%; }
	
	.services{
		min-height: 280px;
	}	
	h1 {
    	font-size: 1.5em;
	}

	h2 {
    	font-size: 1.3em;
	}

	.border-right {
    	border-right-width: 1px;
		border-right-style: dashed;
		border-right-color: #F0F0F0;
	}
	.border-right:nth-child(3n+1) {
		border-right: none;   	
	}	

}

@media (min-width: 1020px){
	#menu {
    	float: right;
    	padding-top: 60px;
	}
	#menu ul li{
    	display: inline;
    	float: none;
	}
}

@media (min-width: 1280px){
	.col-tv-1{ width: 8.333%; }
	.col-tv-2{ width: 16.666%; }
	.col-tv-3{ width: 24.999%; }
	.col-tv-4{ width: 33.332%; }
	.col-tv-5{ width: 41.665%; }
	.col-tv-6{ width: 49.998%; }
	.col-tv-7{ width: 58.331%; }
	.col-tv-8{ width: 66.664%; }
	.col-tv-9{ width: 74.997%; }
	.col-tv-10{ width: 83.330%; }
	.col-tv-11{ width: 91.663%; }
	.col-tv-12{ width: 99.996%; }

	h1 {
    	font-size: 1.7em;
	}

	h2 {
    	font-size: 1.5em;
	}

	.services{
		min-height: 270px;
	}

	.border-right:nth-child(3n+1) {
    	border-right-width: 1px;
		border-right-style: dashed;
		border-right-color: #F0F0F0;
	}
	.border-right:nth-child(4n+1) {
		border-right: none;
	}			
}